/* Extra small devices (-576px) */
@media (max-width: 575.98px) {
    .btn-custom {
        margin: 10px 15px;
    }
}

/* Small devices (+576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 3em;
    }

    .btn-custom {
        margin: 10px 15px;
    }
}

/* Medium devices (+768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 4em;
    }
}

/* Large devices (+992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 5em;
    }
}

/* Extra large devices (+1200px) */
@media (min-width: 1200px) {
    h1 {
        font-size: 6em;
    }
}